@model ICollection<EcommerceApp.Entity_Models.Product>

@{
    Layout = "_MyLayout";
     
}


    <div>
        <h1> Welcome to my Products Page</h1>
        <div>
            <table class="table table-striped table-hover table-bordered table-responsive table-active">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Price</th>
                        <th>WH Loc</th>
                        <th>Dokan</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Code</td>
                            <td>@product.Price</td>
                            <td>@product.WarehouseLocation</td>
                            <td>@(product.Dokan?.Name ?? "Not Assigned")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
